[profile.default]
src = "src"
out = "out"
test = "test"
script = "script"
solc = "0.8.20"
optimizer = true
optimizer_runs = 200
remappings = [
  "forge-std/=lib/forge-std/src/",
  "@openzeppelin/=lib/openzeppelin-contracts/",
]

[rpc_endpoints]
ethereum_sepolia = "https://ethereum-sepolia-rpc.publicnode.com"
thanos_sepolia = "https://rpc.thanos-sepolia.tokamak.network"
