[profile.default]
src = "src"
out = "out"
test = "test"
script = "script"
solc = "0.8.20"
optimizer = true
optimizer_runs = 200
remappings = [
  "forge-std/=lib/forge-std/src/",
  "poseidon-solidity/=node_modules/poseidon-solidity/",
]

[rpc_endpoints]
thanos_sepolia = "https://rpc.thanos-sepolia.tokamak.network"
